[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output HDMI1 --auto --output eDP1 --auto --below HDMI1'
OnlyShowIn=LXDE
